.contact-container {
    margin: 4rem 0;
    position: relative;
}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
    /* Center the heading */
}

.contact-content {
    display: flex;
    gap: 3rem;
}

.contact-info,
.contact-form {
    flex: 1;
    /* Both sides take equal space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

@media (max-width:786px){
    .contact-content{
        flex-direction: column-reverse;
    }
    .contact-container{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}